.App {
  text-align: center;
}


body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color:rgb(33, 12, 4);
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
  background-color: #8da9b7;
}

.header h1 {
  margin-top: -5px;
  font-size: 36px;
}

.header p {
  font-size: 18px;
  color: #666;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.card {
  background-color: #8da9b7;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 200px;
  height: 200px;
  text-align: left;
  border: 3px solid red;

}

.card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
}

.card .icon {
  font-size: 40px;
  margin-bottom: 10px;
}

.new {
  color: red;
  font-weight: bold;
}

/* Remove default link styles */
a {
  text-decoration: none; /* Removes underline */
  color: inherit;        /* Inherits the color from the parent */
}
.black-line {
  border: none; /* Removes default styling */
  border-top: 2px solid black; /* Black line with a thickness of 2px */
  margin: 20px 0; /* Adds vertical spacing */
}


